.index {background-color: #e5dbe4; 
    font-family: Georgia, serif; }
    
.header {color: #050903; 
    text-align: center; 
    background-color: #f6e1d1; 
    margin-left: 40%;
    margin-right: 40%;
    border: inset 8px #f0bcc0;
    border-radius: 10px; }
    
.latestnews {color: #e5dbe4; 
    text-align: center; 
    margin-left: 30%;
    margin-right: 30%;
    border: outset 6px #9E9EA9; 
    background-color: #050903;
    border-radius: 10px; }

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {font-weight: bold; 
                                        color: #896f58; 
                                        font-size: 12pt; }

.pagination-lg {margin-left: 400px; }

.img-fluid {padding-left: 150px; }
            
.albums {background-color: #e5dbe4; 
    font-family: Georgia, serif; }

.news {text-align: center; 
        font-size: 15pt; }
        
.error {margin-left: 160px; }

.errortext {text-align: center; }

.nobody {text-align: center; }

.newsimage {text-align: center; }
