.index {background-color: #e5dbe4; 
    font-family: Georgia, serif; }
    
h1 {color: #050903; 
    text-align: center; }
    
h2 {color: #050903; 
    text-align: center; }

.nav-item:hover {font-weight: bold; }

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {font-weight: bold; 
                                        color: #896f58; }
.jumbotron {background-color: ; 
            color: 

.latestnews {color: #F6E1D1; }

.error {color: ; 
    text-align: center;
    font-size: 4vw; }

.pagination-lg {margin-left: 400px; }

a.page-link
    {
    background-color: ;
    color: ;
    font-size: ;
    }

.img-fluid {height: auto;
            width: 1px; }
            
.albums {background-color: #e5dbe4; 
    font-family: Georgia, serif; }
