body {background-color: rgb(14 14 14); 
    font-family: Georgia, serif; }
    
h1 {color: #FF6E00; 
    text-align: center;
}
    
h2 {color: #FF6E00; 
    text-align: center;
}
    
h3 {color: #FF6E00; 
    text-align: center;
}

.navbar-nav .nav-item .nav-link {color: #CCCACA ; }

.nav-item:hover {font-weight: bold}

.nav-item.active {color: grey; 
                 font-weight: bold; }

.img-fluid {max-width: 30%;
            height: auto;
            margin-left: 20px}

.jumbotron {background-color: #9A989E; 
            color: rgb(14 14 14) }
        

.news {font-size: 22px; 
        margin-left: 100px; 
    color: rgb(14 14 14); }

.latestnews {color: rgb(14 14 14); }

.error {color: #FF6E00; 
    text-align: center;
    font-size: 19pt; }
