.index {background-color: #e5dbe4; 
    font-family: Georgia, serif; }
    
.header {color: #050903; 
    background-color: #f6e1d1; 
    border: inset 8px #f0bcc0;
    border-radius: 10px; 
}
    
.title {margin-left: 40%;
    margin-right: 40%; 
    color: #050903; 
    background-color: #f6e1d1; 
    border: inset 8px #f0bcc0;
    border-radius: 10px; 
    text-align: center; }
    
.latestnews {color: #e5dbe4; 
    text-align: center; 
    margin-left: 30%;
    margin-right: 30%;
    border: outset 6px #9E9EA9; 
    background-color: #050903;
    border-radius: 10px; }

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {font-weight: bold; 
                                        color: #896f58; 
                                        font-size: 12pt; }

.pagination-lg {margin-left: 400px; }

.img-fluid {padding-left: 150px; }
            
.albums {background-color: #e5dbe4; 
    font-family: Georgia, serif; }

.news {text-align: center; 
        font-size: 15pt; }
        
.error {margin-left: 160px; }

.errortext {text-align: center; }

.nobody {text-align: center; }

.newsimage {text-align: center; }

.collapsible { 
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px; }

 .collapsible:hover {
  background-color: #555; }

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1; }

.albumcover {border: 20px black }

.col-md-5 {text-align: center; }

.lead {color: #413925; 
    background: #f6e1d1;
    border: 12px white solid; }
